.cart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 20px;
}
.cart-body {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item-container {
  width: 300px;
  height: 400px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.item-container img {
  width: 200px;
  height: 250px;
  padding: 20px;
}
.item-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cart-title {
  padding-left: 40px;
  position: sticky;
  top: 100px;
  width: 98%;
  left: 20px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 10;
}
.cart-count-container .cart-count {
  position: absolute;
  bottom: 20px;
  left: 12px;
  color: red;
}
.cart-count-container {
  margin-left: 20px;
  position: relative;
}
.cart-count-container svg {
  width: 30px;
  height: 30px;
}
