.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 110px;
}
.back-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.back-button-div {
  padding-left: 40px;
  position: sticky;
  top: 100px;
  width: 98%;
  left: 20px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 10;
}
