.menu-container {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu-icons svg {
  width: 30px;
  height: 30px;
}
.cart-container {
  position: relative;
}
.cart-container-icon .cart-count {
  position: absolute;
  bottom: 40px;
  top: 10px;
  color: red;
}
