.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 16px #b9b1b1;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
.nav-logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
