.product-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 20%;
  background-color: rgb(212, 206, 206);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.product-container-items {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px 4px 0px 4px;
  border: 1px solid white;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
}

.product-container-items img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  cursor: pointer;
}
.product-items-desc {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #e9ecef;
  align-items: center;
  padding: 10px;
  position: relative;
}
.product-items-desc button {
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.product-items-text {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.produc-container h1 {
  padding-left: 40px;
  position: sticky;
  top: 100px;
  width: 98%;
  left: 20px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 10;
}

.price-btn {
  position: relative;
  background-color: #0d8b4b;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.default-text {
  display: inline-block;
}

.hover-text {
  display: none;
}

.price-btn:hover {
  background-color: #ff5733;
}

.price-btn:hover .default-text {
  display: none;
}

.price-btn:hover .hover-text {
  display: inline-block;
}
.product-button-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.cart-added-items {
  border: 1px solid #000 !important;
  background-color: #6060f0 !important;
  color: #fff !important;
  transition: 0.3s;
}
