.product-info-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.info {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  gap: 20px;
  margin-top: 40px;
}
.strike-out {
  color: red;
  text-decoration: line-through;
  margin-left: 10px;
}
.info div {
  font-weight: 300;
}
.offer-price {
  font-weight: bold;
}
.item-title {
}
.mrp-info {
  display: flex;
  margin: 5px;
}
.offer-percent {
  color: red;
}
.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.buyitem-option {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}
.buyitem-add-to-cart {
  background-color: #f7dc8b !important;
}
.product-details-container {
  width: 60%;
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

.cart-added-items {
  border: 1px solid #000 !important;
  background-color: #6060f0 !important;
  color: #fff !important;
  transition: 0.3s;
}
.page-transition {
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.right-section {
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.slide-out {
  transform: translateX(50px);
  opacity: 0;
  position: absolute;
}

.slide-in {
  transform: translateX(0px);
  opacity: 1;
}
.payment-type-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recommended-section {
  display: flex;
  flex-direction: column;
}
.payapp-radio {
  border: 1px solid black;
  border-radius: 8px;
  width: 500px;
  height: 60px;
  padding: 20px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.pay-app-desc {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.order-item {
  display: flex;
  justify-content: space-between;
}
.address-details {
  display: flex;
  flex-direction: column;
}
.total-amt {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.disc-amt {
  color: red;
}
.saving-amt {
  color: green;
}
.terms {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
