.search-container {
  position: relative;
  width: 50%;
}
.search-input {
  width: 100%;
  padding: 10px 5px 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}
.search-ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  top: 45px;
  z-index: 10;
  max-height: 250px;
  overflow: auto;
}
.search-li {
  padding: 8px;
  cursor: pointer;
}
.search-li:hover {
  background-color: #cacaca;
}
