.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 20px;
  padding: 10px;
}
.card-container-card {
  border: 1px solid rgb(209 206 206);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(203, 199, 199);
  padding: 20px;
  margin: 10px;
  max-width: 250px;
  max-height: 250px;
  height: auto;
  text-align: center;
  flex-grow: 1;
  /* display: inline-block; */
}
.card-container .card-container-img {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card-container .card-container-title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-weight: bold;
}
.card-container .card-container-desc {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
